<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css"  href="style.css">
    <script src="script.js" defer></script>
    <title>Mapa</title>
</head>
<body>
    <!-- 
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJeSvblYm_YoYRv0u7n4V54S0&key=AIzaSyC7bBKvKwOAq3fQYuvarAjQMU4ukTOAO_Y"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfd4CiiK_YoYRQL7FDZOrcNk&key=AIzaSyC7bBKvKwOAq3fQYuvarAjQMU4ukTOAO_Y"> 
    -->
    <h1>Google Map</h1>
    <div class="container">
    <iframe
        width="950"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfd4CiiK_YoYRQL7FDZOrcNk&key=AIzaSyC7bBKvKwOAq3fQYuvarAjQMU4ukTOAO_Y">
        
    </iframe> 
    </div>
    
</body>
</html>