<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="style.css">
    <script src="script.js" defer></script>
    <title>Carrusel 3D</title>
</head>
<body>
    <!-- <h1>Carrusel en 3D</h1> -->
    <div id="drag-container">
        <div id="spin-container">
            <!-- Add your images or video here -->
            <img src="img/nature-1.png" alt="Imagen 1">
            <img src="img/nature-2.png" alt="Imagen 2" onclick="alert('Modesto')">
            <img src="img/nature-3.png" alt="Imagen 3">
            <img src="img/nature-4.png" alt="Imagen 4">
            <img src="img/nature-5.png" alt="Imagen 5">
            <img src="img/nature-6.png" alt="Imagen 6">
            <img src="img/nature-7.png" alt="Imagen 7">
            <img src="img/h1.jpg" alt="Imagen 8">
            <img src="img/h2.jpg" alt="Imagen 9">
            <img src="img/h3.jpg" alt="Imagen 10">        
            <!-- Exapmle add video -->
             <!-- <video controls autoplay="autoplay" loop>
                <source src="img/videos.mp4" type="video/mp4">
            </video> -->
            <!-- Text at center of ground -->
            <p>3D Carousel</p>
        </div>
        <div id="ground"></div>        
    </div>
</body>
</html>