<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación Slider</title>
    <link rel="stylesheet" type="text/css"  href="style.css">
</head>
<body>
    <div class="container">
        <input type="radio" name="group" id="slide1" checked>
        <input type="radio" name="group" id="slide2">
        <input type="radio" name="group" id="slide3">
        <input type="radio" name="group" id="slide4">
        <input type="radio" name="group" id="slide5">

        <div class="dots">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
            <label for="slide5"></label>
        </div>
        <div class="slider">
            <div class="slide" for="slide1" style="--img:url('img1.jpg')">
                <div class="content">
                    <h2>Slide 01</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam iure corrupti totam ut ipsam
                    adipisci corporis dolorum voluptates? Laborum, blanditiis officia libero at aperiam dolorem sunt optio
                    consequuntur est.
                    Sint nam reprehenderit, non nihil quaerat dignissimos suscipit facilis adipisci. Fugit eos, quo blanditiis
                    assumenda, voluptas facere corporis tenetur nulla impedit minus illum minima fuga vitae? Suscipit vitae enim
                    assumenda?
                    </p>
                </div>
            </div>
            <div class="slide" for="slide2" style="--img:url('img2.jpg')">
                <div class="content">
                    <h2>Slide 02</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam iure corrupti totam ut ipsam
                        adipisci corporis dolorum voluptates? Laborum, blanditiis officia libero at aperiam dolorem sunt optio
                        consequuntur est.
                        Sint nam reprehenderit, non nihil quaerat dignissimos suscipit facilis adipisci. Fugit eos, quo
                        blanditiis assumenda, voluptas facere corporis tenetur nulla impedit minus illum minima fuga vitae?
                        Suscipit vitae enim assumenda?
                    </p>
                </div>
            </div>
            <div class="slide" for?="slide3" style="--img:url('img3.jpg')">
                <div class="content">
                    <h2>Slide 03</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam iure corrupti totam ut ipsam
                        adipisci corporis dolorum voluptates? Laborum, blanditiis officia libero at aperiam dolorem sunt optio
                        consequuntur est.
                        Sint nam reprehenderit, non nihil quaerat dignissimos suscipit facilis adipisci. Fugit eos, quo
                        blanditiis assumenda, voluptas facere corporis tenetur nulla impedit minus illum minima fuga vitae?
                        Suscipit vitae enim assumenda?
                    </p>
                </div>
            </div>
            <div class="slide" for="slide4" style="--img:url('img4.jpg')">
                <div class="content">
                    <h2>Slide 04</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam iure corrupti totam ut ipsam
                        adipisci corporis dolorum voluptates? Laborum, blanditiis officia libero at aperiam dolorem sunt optio
                        consequuntur est.
                        Sint nam reprehenderit, non nihil quaerat dignissimos suscipit facilis adipisci. Fugit eos, quo
                        blanditiis assumenda, voluptas facere corporis tenetur nulla impedit minus illum minima fuga vitae?
                        Suscipit vitae enim assumenda?
                    </p>
                </div>
            </div>
            <div class="slide" r="slide5" style="--img:url('img5.jpg')">
                <div class="content">
                    <h2>Slide 05</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam iure corrupti totam ut ipsam
                        adipisci corporis dolorum voluptates? Laborum, blanditiis officia libero at aperiam dolorem sunt optio
                        consequuntur est.
                        Sint nam reprehenderit, non nihil quaerat dignissimos suscipit facilis adipisci. Fugit eos, quo
                        blanditiis assumenda, voluptas facere corporis tenetur nulla impedit minus illum minima fuga vitae?
                        Suscipit vitae enim assumenda?
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>