<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="style.css">
    <script src="script.js" defer></script>
    <title>3D Slider</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="card" style="--i:1;">
                <div class="imgBx">
                    <img src="img1.png" alt="Imagen 1">
                </div>
                <h2>Wonder Woman<br><span>Full Stack</span></h2>                
            </div>
            <div class="card" style="--i:2;">
                <div class="imgBx">
                    <img src="img2.png" alt="Imagen 2">
                </div>
                <h2>Hawnkgirl<br><span>Web Developer</span></h2>
            </div>
            <div class="card" style="--i:3;">
                <div class="imgBx">
                    <img src="img3.png" alt="Imagen 3">
                </div>
                <h2>Black Canary<br><span>Back End</span></h2>
            </div>
            <div class="card" style="--i:4;">
                <div class="imgBx">
                    <img src="img4.png" alt="Imagen 4">
                </div>
                <h2>Fire Star<br><span>Front End</span></h2>
            </div>
        </div>
    </div>
    <div class="btns">
        <div class="prev"></div>
        <div class="next"></div>
    </div>
</body>
</html>